body{
    color: white;
    background: pink;
    text-align: center;
}
h3{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
    margin-left: 396px;
}
#result_of_objects, #result_of_accuracy{
    color: yellow;
}